body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.banner-container {
    background: #CACACA;
}
.banner-column {
    background: #8D8D8D;
}
nav {
    text-transform: uppercase;
    background: #262B37;
    font-weight: bold;  
}
nav a {
   margin: 0 10px;
}
.navbar-toggler-icon {
    border: none;
}
.navbar-toggler {
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}