body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-20px);
    transition: all .2s linear;
}
.tomato-color {
    color: tomato;
    text-transform: uppercase;
}
.white-color {
    color: white;
    text-transform: uppercase;
}
.font-weight-bold {
    font-weight: bold;
}
.font-weight-bolder {
    font-weight: bolder;
}
.banner-container {
    background: #CACACA;
}
.banner-column {
    background: #8D8D8D;
}
.navbar-section {
    position: sticky;
    top: 0;
    z-index: 2;
}
nav {
    text-transform: uppercase;
    background: #262B37;
    font-weight: bold;  
}
nav a {
   margin: 0 10px;
}
.navbar-toggler-icon {
    border: none;
}
.navbar-toggler {
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}
.my-img {
    border-radius: 10px;
}
.about-section {
    background: teal;
    color: white;
}
.education-section .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-10px);
    transition: all .2s linear;
}
.circle {
    background: tomato;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    color: white;
    margin: 0 auto;
}
.project-section {
    background: teal;
}
.contact-section  {
    background: #474D5D;
}
.margin-right {
    margin-right: 5px;
}
.bummy-box {
    font-size: 72px;
}
.inner-form {
    background: #585F73;
}
textarea {
    resize: none;
}
footer {
    background: black;
}
.text-italic {
    font-style: italic;
}
footer i {
    font-size: 40px;
    margin: 10px;
}
footer i:hover {
    color: gray;
    transform: rotate(360deg);
    transition: all 0.9s linear;
}
footer span {
    color: tomato;
}